{% extends 'navidad/base.html' %}
{% block css %}
{{ block.super }}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}
{% block contenido %}
<br>
<div class="row">
<div class="col-md-3"><a class="btn btn-primary" href="{% url 'navidad:crear-ciudad' %}" role="button">Crear</a></div>
</div>
<br>
<div class="box box-default">
    <br>
    <div class="box-body table-responsive no-padding">
        <div class="col-md-12 col-sm-12">
        <table id="example" class="table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>Ciudad</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
                <tbody>
                    {% for ciudad in object_list %}
                    <tr>
                        <td>{{ ciudad.nombre }}</td>
                        <td>{{ ciudad.estado.nombre }}</td>
                        <td><a class="btn btn-primary" href="{% url 'navidad:ver-ciudad' ciudad.pk %}" role="button">Detalle</a>
                        <a class="btn btn-success" href="{% url 'navidad:actualizar-ciudad' ciudad.pk %}" role="button">Actualizar</a>
                        <a class="btn btn-danger" href="{% url 'navidad:eliminar-ciudad' ciudad.pk %}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
    </div>
</div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>

$('#example').dataTable( {
    "order": [1,"desc"]
} );
$.fn.dataTable.ext.errMode = 'none';

</script>
{% endblock js %}